.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;
}

.button {
  font-size: 1.5rem;
  font-weight: 900;
  border: 2px solid black;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  box-shadow: -2px 2px;
}

.button:hover {
  background-color: black;
  color: white;
}

.active {
  background-color: black;
  color: white;
}

.name {
  font-size: 2rem;
  font-weight: 800;
  margin-top: 1rem;
}

.major {
  font-size: 1rem;
  font-weight: 700;
}

.divider {
  margin-top: 2rem;
}

.smallDivider {
  margin-top: 1rem;
}

.bigDivider {
  margin-top: 3rem;
}

.aboutMe {
  font-size: 1rem;
  font-weight: 500;
}

.subheader {
  font-size: 1.5rem;
  font-weight: 700;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  max-width: 1200px;
  width: 150%;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin: 1rem 1rem 0 1rem;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 10px 10px;
}

.videoEditingCard {
  display: flex;
  flex-direction: column;
  border: 2px solid #ff0034;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 10px 10px #ff0034;
}

.electronicsCard {
  display: flex;
  flex-direction: column;
  border: 2px solid #ffad00;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 10px 10px #ffad00;
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  user-select: none;
}

.cardDescription {
  font-size: 1rem;
  font-weight: 500;
  user-select: none;
}


.projectButtons {
  display: flex;
  justify-content: center;
}

.projectInnerButtons {
  display: flex;
  font-weight: bold;
  border: 3px solid black;
  border-radius: 2rem;
  padding: 0.5rem;
  box-shadow: 3px 3px;
}

.projectInnerButtons:hover {
  background-color: #5065a4;
  color: white;
}

.projectInnerButtonsText {
  margin-right: 0.5rem;
}

.videoCard {
  display: flex;
  flex-direction: column;
  border: 5px dashed black;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  text-align: center;
}

.arduinoImage {
  display: flex;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border-radius: 1rem;
}