.name {
  font-size: 2rem;
  font-weight: 800;
  margin-top: 1rem;
}

.major {
  font-size: 1rem;
  font-weight: 700;
}

.divider {
  margin-top: 2rem;
}

.subheader {
  font-size: 1.5rem;
  font-weight: 700;
}

.aboutMe {
  font-size: 1rem;
  font-weight: 500;
}
