.name {
  font-size: 2rem;
  font-weight: 800;
  margin-top: 1rem;
}

.major {
  font-size: 1rem;
  font-weight: 700;
}

.divider {
  margin-top: 2rem;
}

.aboutMe {
  font-size: 1rem;
  font-weight: 500;
}

.subheader {
  font-size: 1.5rem;
  font-weight: 700;
}

.page {
  width: 100%;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  user-select: none;
}

.cardDescription {
  font-size: 1rem;
  font-weight: 500;
  user-select: none;
}

.experienceTitle {
  font-size: 1.2rem;
}

.projectButtons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 5%;
}

.projectInnerButtons {
  display: flex;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 2rem;
  padding: 0.5rem;
}

.projectInnerButtonsText {
  margin-right: 0.5rem;
}

.experienceContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.experienceDate {
  font-size: 1.2rem;
  margin-left: auto;
}

.linksContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 600;
}